* {
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(147, 156, 184);
  overflow-x: hidden;
}

.app {
  width: 100vw;
  text-align: center;
}

header {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  background-color: rgb(196, 203, 224);
  background: linear-gradient(rgb(147, 156, 184) 50%, 
  rgb(196, 203, 224) 50%);
}

.bg-txt {
  font-size: 5em;
}
.txt-1 {
  color: rgb(196, 203, 224);
}
.txt-2 {
  color: rgb(147, 156, 184);
}

.container {
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote-section {
  width: 55vw;
  max-width: 70vw;
  margin-bottom: 1rem;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(242, 243, 247);
  -webkit-box-shadow: 0px 0px 7px -4px #000000; 
  box-shadow: 0px 0px 7px -4px #000000;
  border-radius: 3px;
}

blockquote {
  min-width: 90%;
  padding: 1rem;
  font-size: 1.3em;
}

.quote-icon {
  color: rgb(196, 203, 224);
  padding: 0.5rem 1rem;
}

.btn-new {
  margin-top: 3rem;
  border: none;
  background: none;
  color: #000;
}

.style-btn-container {
  position: relative;
  bottom: -7rem;
}

.style-btn {
  margin: 0 1rem;
  padding: 0.3rem 1rem;
  color: rgb(93, 93, 94);
  border: 1px solid rgb(93, 93, 94);
  background-color: rgba(255, 248, 220, 0.5);
  cursor: pointer;
}
.style-btn:hover {
  color: rgb(17, 17, 19);
  border: 1px solid rgb(17, 17, 19);
}
