.header-deco {
    max-width: 57vw;
    width: 25vw;
    height: 19vh;
    /* background-image: url(../assets/deco-band.png); */
    /* clip-path: polygon(8% 65%, 93% 65%, 100% 100%, 0% 100%); */

    /* object-fit: cover; */
    /* background-image: url(../assets/deco-qoute.png); */
    /* clip-path: polygon(8% 65%, 93% 65%, 100% 100%, 0% 100%); */
  
    /* object-fit: cover; */
}