body {
    background-color: rgb(247, 247, 247);
}
  
header {
    background-color: #508eb3;
}

.app {
    background-color: #fff;
}

h1 {
    border-bottom: 1px solid #0000;
}

.container {
    background-image: url('../assets/watercolor-blue.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
}

blockquote {
    border: 1px solid #508eb3;
    background-color: rgba(247, 246, 243, 0.9);
}

.btn-new {
    font-size: 1.5em;
    font-weight: bold;
    padding: 0.5rem 1rem;
    margin-top: 3rem;
    border: none;
    color: #000;
    box-shadow: 1px 3px 3px 5px #508eb3;
}
.btn-new:hover {
    opacity: 0.8;
}
